In [1]:
import pandas as pd

In [4]:
tf_data=pd.read_csv("datasets/csv/AUDUSD_M1.csv")

In [5]:
tf_data.tail()

         2003.08.04  00:00  0.65122  0.65157   0.6512  0.65157.1   50
2825601  2015.02.06  21:54  0.77908  0.77916  0.77902    0.77916   65
2825602  2015.02.06  21:55  0.77915  0.77921  0.77900    0.77921   58
2825603  2015.02.06  21:56  0.77916  0.77939  0.77916    0.77920  143
2825604  2015.02.06  21:57  0.77921  0.77931  0.77917    0.77920   77
2825605  2015.02.06  21:58  0.77921  0.77948  0.77917    0.77924   97